{
  "$schema": "https://json.schemastore.org/swcrc",
  "module": {
    "type": "commonjs"
  },
  "jsc": {
    "parser": {
      "syntax": "typescript"
    },
    "baseUrl": "./",
    "paths": {
      "@lib": ["lib"],
      "@schemas": ["contracts/schemas"]
    },
    "target": "esnext"
  }
}
