{
  "$schema": "https://json.schemastore.org/swcrc",
  "module": {
    "type": "es6"
  },
  "jsc": {
    "parser": {
      "syntax": "typescript"
    },
    "baseUrl": "./",
    "paths": {
      "@lib": ["lib"],
      "@schemas": ["contracts/schemas"]
    },
    "target": "esnext",
    "preserveAllComments": false,
    "experimental": {
      "keepImportAssertions": true,
      "emitAssertForImportAttributes": true
    }
  }
}
